---
layout: default
class: 'tag-template'
navigation: True
current: tag
cover: 'assets/images/cover1.jpg'
---

<header class="main-header post-head {% if page.cover %}" style="background-image: url({{ site.baseurl }}{{ page.cover }}) {% else %}no-cover{% endif %}">
    <nav class="main-nav {% if page.cover %} overlay {% endif %} clearfix">
        {% if page.logo %}<a class="blog-logo" href="{{ site.baseurl }}"><img src="{{ site.baseurl }}{{ page.logo }}" alt="Blog Logo" /></a>{% endif %}
        {% if page.navigation %}
            <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
        {% endif %}
    </nav>
</header>


<div>
    {% if site.tags[page.tag] %}
        {% for post in site.tags[page.tag] %}
        <article class="post">
            <header class="post-header">
                <h2 class="post-title"><a href="{{ site.baseurl }}{{ post.url | remove: '/' }}">{{ post.title }}</a></h2>
            </header>
            <section class="post-excerpt">
                <p>{{ post.content | strip_html | truncatewords: 26 }} <a class="read-more" href="{{ site.baseurl }}{{ post.url | remove: '/' }}">&raquo;</a></p>
            </section>
            <footer class="post-meta">
                {% if site.image %}<img class="author-thumb" src="{{ site.baseurl }}{{ site.image }}" alt="Author image" nopin="nopin" />{% endif %}
                <!-- author -->
                <a href='{{ site.baseurl }}author/{{ site.nickname }}'>{{ site.author }}</a>
                <!-- [[tags prefix=" on "]] -->
                {% if post.tags.size > 0 %} 
                    on 
                    {% for tag in post.tags %}
                        {% if forloop.index == post.tags.size %}
                           <a href='{{ site.baseurl }}tag/{{ tag }}'>{{ tag | capitalize }}</a>
                        {% else %}
                           <a href='{{ site.baseurl }}tag/{{ tag }}'>{{ tag | capitalize }}</a>,
                        {% endif %}   
                    {% endfor %}
                {% endif %}
                <time class="post-date" datetime="{{ post.date | date:'%Y-%m-%d' }}">{{ post.date | date_to_string }}</time>
            </footer>
        </article>
        {% endfor %}
    {% else %}
        <p>Não há artigos nessa categoria.</p>
    {% endif %}
</div>

