---
layout: default
disqus: True
class: 'post-template'
---
<!-- < default -->

<!-- The comment above "< default" means - insert everything in this file into -->
    <!-- the [body] of the default.hbs template, which contains our header/footer. -->
{% assign post = page %}
{% assign category = site.my_categories | where: "slug", post.category %}
  {% assign category = category[0] %}
  {% if category %}
    {% capture category_content %}<a class="label" href="{{ category.url }}" style="background-color:{{ category.color }}">{{ category.name }}</a>{% endcapture %}
  {% endif %}

  {% if post.tags.size > 0 %}
    {% capture tags_content %} with <span class="icon-price-tag{% if post.tags.size > 1 %}s{% endif %}"></span>: {% endcapture %}
    {% for post_tag in post.tags %}
      {% assign tag = site.my_tags | where: "slug", post_tag %}
      {% if tag %}
        {% assign tag = tag[0] %}
        {% capture tags_content_temp %}{{ tags_content }}<a href="{{ tag.url }}">{{ tag.name }}</a>{% if forloop.last == false %}, {% endif %}{% endcapture %}
        {% assign tags_content = tags_content_temp %}
      {% endif %}
    {% endfor %}
  {% endif %}

<!-- Everything inside the #post tags pulls data from the post -->
<!-- #post -->

<header class="main-header post-head {% if page.cover %}" style="background-image: url({{ site.baseurl }}{{ page.cover }}) {% else %}no-cover{% endif %}">
    <nav class="main-nav {% if page.cover %} overlay {% endif %} clearfix">
        {% if page.logo %}<a class="blog-logo" href="{{ site.baseurl }}"><img src="{{ site.baseurl }}{{ page.logo }}" alt="Blog Logo" /></a>{% endif %}
        {% if page.navigation %}
            <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
        {% endif %}
    </nav>
</header>

<main class="content" role="main">

    <article class="{{ page.subclass }}">

        <header class="post-header">
            <h1 class="post-title">{{ page.title }}</h1>
            <section class="post-meta">
            <!-- <a href='{{ site.baseurl }}{{ page.about }}'>{{ site.author }}</a> -->
            <time class="post-date" datetime="{{ page.date | date:'%Y-%m-%d' }}">{{ page.date | date_to_string }}</time>
           
                
                {% if page.tags.size > 0 %} 
                on 
                {% for tag in page.tags %}
                    {% if forloop.index == page.tags.size %}
                       <a href='{{ site.baseurl }}tag/{{ tag }}'>{{ tag | capitalize }}</a>
                    {% else %}
                       <a href='{{ site.baseurl }}tag/{{ tag }}'>{{ tag | capitalize }}</a>,
                    {% endif %}   
                {% endfor %}
                {% endif %}
                
                teste: in {{ category_content }}<small>{{ tags_content }}</small>
               
            </section>
        </header>

        <section class="post-content">
            
            {{ content }}

        </section>

        <footer class="post-footer">

            <!-- Everything inside the #author tags pulls data from the author -->
            <!-- #author-->

            {% if site.image %}
            <figure class="author-image">
                <a class="img" href="{{ site.baseurl }}author/{{ site.nickname }}" style="background-image: url({{ site.baseurl }}{{ site.image }})"><span class="hidden">{{ page.author }}'s Picture</span></a>
            </figure>
            {% endif %}

            <section class="author">
                <h4><a href="{{ site.baseurl }}author/{{ site.nickname }}">{{ site.author }}</a></h4>
                
                {% if site.bio %}
                    <p> {{ site.bio }}</p>
                {% else %}
                    <p>Read <a href="{{ site.baseurl }}author/{{ site.nickname }}">more posts</a> by this author.</p>
                {% endif %}
                <div class="author-meta">
                    {% if site.location %}<span class="author-location icon-location"> {{ site.location }}</span>{% endif %} 
                    {% if site.url %}<span class="author-link icon-link"><a href="{{ site.url }}"> {{ site.short_url }}</a></span>{% endif %} 
                </div>
            </section>

            <!-- /author  -->

            <section class="share">
                <h4>Share this post</h4>
                <a class="icon-twitter" href="http://twitter.com/share?text={{ page.title }}&amp;url={{ site.url }}{{ page.url | remove: '/' }}"
                    onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                    <span class="hidden">Twitter</span>
                </a>
                <a class="icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url | remove: '/' }}"
                    onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                    <span class="hidden">Facebook</span>
                </a>
                <a class="icon-google-plus" href="https://plus.google.com/share?url={{ site.url }}{{ page.url | remove: '/' }}"
                   onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                    <span class="hidden">Google+</span>
                </a>
            </section>
            
            <!-- Add Disqus Comments -->
            {% include disqus.html %}
            
        </footer>

    </article>

</main>

<aside class="read-next">

    <!-- [[! next_post ]] -->
    {% if page.next %}
        <a class="read-next-story {% if page.next.cover %}" style="background-image: url({{ site.baseurl }}{{ page.next.cover }}){% else %}no-cover{% endif %}" href="{{ site.baseurl }}{{ page.next.url | remove: '/' }}">
            <section class="post">
                <h2>{{ page.next.title }}</h2>
                <p>{{ page.next.content | strip_html | truncatewords:15 }}</p>
            </section>
        </a>
    {% endif %}
    <!-- [[! /next_post ]] -->
    <!-- [[! prev_post ]] -->
    {% if page.previous %}
        <a class="read-next-story prev {% if page.previous.cover %}" style="background-image: url({{ site.baseurl }}{{ page.previous.cover }}){% else %}no-cover{% endif %}" href="{{ site.baseurl }}{{ page.previous.url | remove: '/' }}">
            <section class="post">
                <h2>{{ page.previous.title }}</h2>
                <p>{{ page.previous.content | strip_html | truncatewords:15 }}</p>
            </section>
        </a>
    {% endif %}
    <!-- [[! /prev_post ]] -->
</aside>

<!-- /post -->
